security:
    password_hashers:
        Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface: 'auto'
    
    providers:
        app_user_provider:
            entity:
                class: App\Entity\Utilisateur
                property: email
    
    firewalls:
        dev:
            pattern: ^/(_(profiler|wdt)|css|images|js)/
            security: false
        
        main:
            lazy: true
            provider: app_user_provider
            
            form_login:
                login_path: app_login
                check_path: app_login
                enable_csrf: true
                default_target_path: app_home
                username_parameter: email
                password_parameter: password
            
            logout:
                path: app_logout
                target: app_home
            
            remember_me:
                secret: '%kernel.secret%'
                lifetime: 604800
                path: /
                always_remember_me: true

    access_control:
        - { path: ^/login, roles: PUBLIC_ACCESS }
        - { path: ^/register, roles: PUBLIC_ACCESS }
        - { path: ^/responsable, roles: ROLE_RESPONSABLE }
        - { path: ^/avis/.*/edit, roles: ROLE_USER }

    role_hierarchy:
        ROLE_RESPONSABLE: ROLE_USER
        ROLE_ADMIN: [ROLE_RESPONSABLE, ROLE_USER]